@charset "UTF-8";
body {
  background-color: var(--white-text-color);
  color: var(--main-text-color);
  font-family: roboto, sans-serif;
}

.section-title {
  color: var(--main-text-color);
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

:root {
  --main-text-color: #212121;
  --secont-text-color: #757575;
  --white-text-color: #ffffff;
  --accent: #2196f3;
  --background-main-section-studio-and-footer: #2f303a;
  --background-section-command-and-button-portfolio: #f5f4fa;
  --icon-color: #afb1b8;
}

.accent-blue {
  color: var(--accent);
}

.accent-white {
  color: var(--white-text-color);
}

.container {
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
    margin: 0 auto;
  }
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.social-list {
  display: flex;
  justify-content: center;
}

.social-list__item {
  margin-right: 10px;
}

.social-list__item:last-child {
  margin-right: 0px;
}

.social-list__link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list__link:hover, .social-list__link:focus {
  background-color: var(--accent);
}

.social-list__link:hover svg,
.social-list__link:focus svg {
  fill: var(--white-text-color);
}

.social-list__icon {
  fill: var(--icon-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header {
  border-bottom: 1px solid #ececec;
}

.nav-container {
  display: flex;
  align-items: center;
}

.nav-container__logo {
  padding: 16px 0px 16px 0px;
  color: var(--main-text-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-decoration: none;
  display: flex;
}

@media screen and (min-width: 768px) {
  .nav-container__logo {
    padding: 24px 0px 25px 0px;
    margin-right: 88px;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: 0.03em;
  }
}

@media screen and (min-width: 1200px) {
  .nav-container__logo {
    padding: 24px 0px 25px 0px;
    margin-right: 93px;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
  }
}

.nav-list {
  display: none;
}

@media screen and (min-width: 768px) {
  .nav-list {
    display: flex;
  }
}

@media screen and (min-width: 1200px) {
  .nav-list {
    display: flex;
  }
}

.nav-list__item {
  margin-right: 50px;
}

.nav-list__item:last-child {
  margin-right: 0px;
}

.nav-list__link {
  padding: 32px 0px;
  display: flex;
  align-items: center;
  color: var(--main-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 1200px) {
  .nav-list__link {
    padding: 32px 0px;
  }
}

.nav-list__link:hover, .nav-list__link:focus {
  color: var(--accent);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.nav-list__link.nav-list__link_active::after {
  content: "";
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent);
  position: absolute;
  left: 0;
  bottom: 0;
}

.nav-list__link:hover svg,
.nav-list__link:focus svg {
  fill: var(--accent);
}

.nav-list__link_active {
  color: var(--accent);
}

.contacts {
  display: none;
}

@media screen and (min-width: 768px) {
  .contacts {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    padding: 21px 0px 21px 0px;
  }
  .contacts__items:first-child {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .contacts {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    padding: 32px 0px;
    margin-bottom: 0px;
  }
  .contacts__items:first-child {
    margin-right: 50px;
    margin-bottom: 0px;
  }
}

.contacts__link {
  color: var(--secont-text-color);
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts__link:hover, .contacts__link:focus {
  color: var(--accent);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.contacts__link:hover svg,
.contacts__link:focus svg {
  fill: var(--accent);
}

.contacts__icon {
  fill: var(--secont-text-color);
  margin-right: 10px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.container-btn {
  width: 100%;
  position: relative;
  padding-right: 15px;
  margin: auto;
}

@media screen and (min-width: 480px) {
  .container-btn {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container-btn {
    display: none;
  }
}

.menu-open-btn {
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
  position: absolute;
  top: -50px;
  right: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-open-btn:hover, .menu-open-btn:focus {
  fill: var(--accent);
}

@media screen and (min-width: 768px) {
  .menu-open-btn {
    display: none;
  }
}

.mob-menu {
  position: fixed;
  background-color: #ffffff;
  top: 0;
  width: 100vw;
  height: 100vh;
  padding: 24px 20px 24px 20px;
  z-index: 5;
}

@media screen and (min-width: 480px) {
  .mob-menu {
    padding: 48px 40px 48px 40px;
  }
}

.mob-menu__container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.mob-menu__bottom {
  margin-top: auto;
}

.menu-close-btn {
  width: 40px;
  height: 40px;
  display: block;
  margin-left: auto;
  margin-bottom: 10px;
  background-color: transparent;
  border: none;
  position: absolute;
  top: 10px;
  right: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-close-btn:hover, .menu-close-btn:focus {
  fill: var(--accent);
}

.mob-menu-list__item {
  margin-bottom: 32px;
}

.mob-menu-list__item:last-child {
  margin-bottom: 0px;
}

.mob-menu-list__link {
  text-decoration: none;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
}

.mob-menu-list__link:hover, .mob-menu-list__link:focus {
  color: var(--accent);
}

.mob-contacts-list__items_number {
  margin-bottom: 32px;
}

.mob-contacts-list__link_number {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--accent);
}

@media screen and (min-width: 480px) {
  .mob-contacts-list__link_number {
    font-weight: 500;
    font-size: 34px;
    line-height: 1.17;
    letter-spacing: 0.02em;
  }
}

.mob-contacts-list__items_mail {
  margin-bottom: 64px;
}

.mob-contacts-list__link_mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: var(--secont-text-color);
  text-decoration: none;
}

.mob-social-list {
  display: flex;
}

.mob-social-list__item {
  margin-right: 20px;
}

.mob-social-list__item:last-child {
  margin-right: 0px;
}

.mob-social-list__link {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--accent);
  text-decoration: none;
  position: relative;
}

.mob-social-list__link.mob-social-list__link_decor::before {
  content: "";
  height: 10px;
  width: 1px;
  border-radius: 2px;
  background-color: var(--secont-text-color);
  position: absolute;
  bottom: 3px;
  right: -10px;
}

@media screen and (min-width: 480px) {
  .mob-social-list__link {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
  }
  .mob-social-list__link.mob-social-list__link_decor::before {
    content: "";
    height: 14px;
    width: 1px;
    border-radius: 2px;
    background-color: var(--secont-text-color);
    position: absolute;
    bottom: 3px;
    right: -10px;
  }
}

.hero {
  background-color: var(--background-main-section-studio-and-footer);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/herobgc-mob-min.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  max-width: 1600px;
  text-align: center;
  padding-top: 118px;
  padding-bottom: 118px;
  padding-right: 0px;
  padding-left: 0px;
}

@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), Ы rgba(47, 48, 58, 0.4)), url(../images/hero/herobgc-mob-2x-min.jpg);
  }
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/herobgc-tab-min.jpg);
    padding-top: 118px;
    padding-bottom: 118px;
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/herobgc-tab-2x-min.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/herobgc.jpg);
    padding-top: 200px;
    padding-bottom: 200px;
    margin: 0 auto;
    max-width: 1600px;
    min-height: 600px;
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/herobgc-2x-min.jpg);
  }
}

.hero__title {
  color: var(--white-text-color);
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin: 0 auto;
  max-width: 360px;
  padding-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .hero__title {
    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;
    letter-spacing: 0.06em;
    max-width: 360px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1200px) {
  .hero__title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    max-width: 696px;
    padding-bottom: 30px;
    margin: 0 auto;
  }
}

.hero__btn {
  display: inline-block;
  border-radius: 4px;
  min-width: 200px;
  padding: 10px 32px;
  border: none;
  color: var(--white-text-color);
  background-color: var(--accent);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  text-align: center;
}

.benefits {
  padding: 60px 0px 60px 0px;
}

@media screen and (min-width: 1200px) {
  .benefits {
    padding: 94px 0px 47px 0px;
  }
}

@media screen and (min-width: 768px) {
  .benefits-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1200px) {
  .benefits-list {
    display: flex;
    justify-content: center;
    margin: 0 auto;
  }
}

.benefits-list__description {
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .benefits-list__description {
    margin-bottom: 0px;
    margin-right: 30px;
  }
  .benefits-list__description:nth-child(2) {
    margin-right: 0px;
  }
  .benefits-list__description:nth-child(4) {
    margin-right: 0px;
  }
}

@media screen and (min-width: 1200px) {
  .benefits-list__description {
    margin-bottom: 0px;
    margin-right: 30px;
  }
  .benefits-list__description:last-child {
    margin-right: 0px;
  }
}

.benefits-list__icon {
  background-color: var(--background-section-command-and-button-portfolio);
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 120px;
  margin: 0 auto;
  margin-bottom: 30px;
}

@media screen and (min-width: 480px) {
  .benefits-list__icon {
    width: 450px;
  }
}

@media screen and (min-width: 768px) {
  .benefits-list__icon {
    width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .benefits-list__icon {
    width: 270px;
  }
}

.benefits-list__title {
  color: var(--main-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .benefits-list__title {
    text-align: start;
  }
}

@media screen and (min-width: 1200px) {
  .benefits-list__title {
    text-align: start;
  }
}

.benefits-list__text {
  color: var(--secont-text-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  max-width: 450px;
}

@media screen and (min-width: 768px) {
  .benefits-list__text {
    max-width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .benefits-list__text {
    max-width: 270px;
  }
}

.works {
  padding-top: 47px;
  padding-bottom: 94px;
}

@media screen and (max-width: 1199px) {
  .works {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
  }
}

@media screen and (max-width: 1199px) {
  .works img {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
  }
}

.works-list {
  display: flex;
  margin-right: -30px;
}

.works-list__item {
  margin-right: 30px;
  width: 370px;
  position: relative;
  overflow: hidden;
}

.works-list__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-text-color);
  width: 370px;
  height: 70px;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(47, 48, 58, 0.8);
  padding: 27px 0px;
}

.command {
  background-color: var(--background-section-command-and-button-portfolio);
  text-align: center;
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .command {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .command {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

@media screen and (min-width: 768px) {
  .command-list {
    display: flex;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 1200px) {
  .command-list {
    display: flex;
    flex-wrap: wrap;
  }
}

.command-list__people {
  background-color: var(--white-text-color);
  margin-bottom: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.command-list__people img {
  width: auto;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .command-list__people {
    width: 354px;
    margin-right: 30px;
  }
  .command-list__people img {
    width: 354px;
  }
  .command-list__people:nth-child(2) {
    margin-right: 0;
  }
  .command-list__people:nth-child(3) {
    margin-bottom: 0px;
  }
  .command-list__people:nth-child(4) {
    margin-right: 0;
    margin-bottom: 0px;
  }
}

@media screen and (min-width: 1200px) {
  .command-list__people {
    margin-bottom: 0px;
    width: 270px;
    margin-right: 30px;
  }
  .command-list__people img {
    width: 270px;
  }
  .command-list__people:last-child {
    margin-right: 0px;
  }
}

.command-container {
  padding: 30px 0px 24px 0px;
}

@media screen and (min-width: 768px) {
  .command-container {
    padding: 30px 0px 24px 0px;
  }
}

@media screen and (min-width: 1200px) {
  .command-container {
    padding: 30px 0px;
  }
}

.command-title {
  margin-bottom: 10px;
  color: var(--main-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
}

.command-text {
  color: var(--secont-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
}

.clients {
  padding: 60px 0px;
}

@media screen and (min-width: 480px) {
  .clients {
    padding: 60px 0px;
  }
}

@media screen and (min-width: 768px) {
  .clients {
    padding: 60px 0px;
  }
}

@media screen and (min-width: 1200px) {
  .clients {
    padding: 94px 0px;
  }
}

.clients__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .clients__title {
    margin-bottom: 50px;
  }
}

@media screen and (min-width: 480px) {
  .clients-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .clients-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1200px) {
  .clients-list {
    display: flex;
    justify-content: center;
  }
}

.clients-list__item {
  margin-bottom: 30px;
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .clients-list__item {
    margin-right: 30px;
    margin-bottom: 30px;
  }
  .clients-list__item:nth-child(2) {
    margin-right: 0px;
  }
  .clients-list__item:nth-child(4) {
    margin-right: 0px;
  }
  .clients-list__item:nth-child(5) {
    margin-bottom: 0px;
  }
  .clients-list__item:nth-child(6) {
    margin-right: 0px;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .clients-list__item {
    margin-right: 30px;
    margin-bottom: 30px;
  }
  .clients-list__item:nth-child(3) {
    margin-right: 0px;
  }
  .clients-list__item:nth-child(4) {
    margin-bottom: 0px;
  }
  .clients-list__item:nth-child(5) {
    margin-bottom: 0px;
  }
  .clients-list__item:nth-child(6) {
    margin-right: 0px;
    margin-bottom: 0px;
  }
}

@media screen and (min-width: 1200px) {
  .clients-list__item {
    margin-bottom: 0px;
    margin-right: 30px;
  }
  .clients-list__item:last-child {
    margin-right: 0;
  }
}

.clients-list__link {
  width: 100%;
  height: 92px;
  border: 1px solid var(--icon-color);
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-list__link:hover, .clients-list__link:focus {
  border: 1px solid var(--accent);
}

.clients-list__link:hover svg,
.clients-list__link:focus svg {
  fill: var(--accent);
}

@media screen and (min-width: 480px) {
  .clients-list__link {
    width: 210px;
  }
}

@media screen and (min-width: 768px) {
  .clients-list__link {
    width: 226px;
  }
}

@media screen and (min-width: 1200px) {
  .clients-list__link {
    width: 170px;
  }
}

.clients-list__icon {
  fill: var(--icon-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer {
  background-color: var(--background-main-section-studio-and-footer);
  padding: 60px 0px 60px 0px;
  margin: 0px auto;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .footer-content {
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-evenly;
  }
}

@media screen and (min-width: 1200px) {
  .footer-content {
    align-items: baseline;
    flex-wrap: nowrap;
    align-content: start;
    justify-content: start;
  }
}

.footer-content__logo {
  margin-bottom: 20px;
  color: var(--main-text-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-decoration: none;
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 1200px) {
  .footer-content__logo {
    justify-content: start;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
  }
}

.footer-left-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 1200px) {
  .footer-left-list {
    align-items: start;
  }
}

.footer-left-list__item {
  margin-bottom: 9px;
}

.footer-left-list__item:last-child {
  margin-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .footer-left-list__item:last-child {
    margin-bottom: 0px;
  }
}

.footer-left-list__home-adress {
  display: inline-block;
  color: var(--white-text-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.footer-left-list__link {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-left-list__link:hover, .footer-left-list__link:focus {
  color: var(--accent);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.center-social {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .center-social {
    align-items: start;
    margin-left: 70px;
    margin-bottom: 0px;
  }
}

.center-social__text {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-text-color);
  margin-bottom: 20px;
}

.social-list__link_bgc {
  background-color: rgba(255, 255, 255, 0.1);
}

.social-list__icon_fill {
  fill: var(--white-text-color);
}

.right-subscribe {
  display: flex;
}

@media screen and (min-width: 1200px) {
  .right-subscribe {
    margin-left: 93px;
  }
}

.right-subscribe > form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 1200px) {
  .right-subscribe > form {
    display: block;
  }
}

.right-subscribe__text {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-text-color);
  margin-bottom: 20px;
}

.right-subscribe__form_position {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 1200px) {
  .right-subscribe__form_position {
    flex-direction: row;
  }
}

.right-subscribe__label {
  display: flex;
}

.right-subscribe__input {
  width: 250px;
  margin-bottom: 20px;
  padding: 15px 0px 15px 16px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.right-subscribe__input:focus {
  border-color: var(--accent);
}

.right-subscribe__input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  display: flex;
  align-items: center;
}

@media screen and (min-width: 480px) {
  .right-subscribe__input {
    width: 450px;
  }
}

@media screen and (min-width: 768px) {
  .right-subscribe__input {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .right-subscribe__input {
    margin-right: 12px;
    margin-bottom: 0px;
    max-width: 358px;
  }
}

.right-subscribe__btn-submit {
  display: flex;
  align-items: center;
  border-radius: 4px;
  min-width: 200px;
  border: none;
  color: var(--white-text-color);
  background-color: var(--accent);
  padding: 10px 28px 10px 29px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  text-align: center;
}

.right-subscribe__icon-send {
  fill: var(--white-text-color);
  margin-left: 10px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  width: 290px;
  width: 100%;
  background: var(--white-text-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px 40px 40px 40px;
}

@media screen and (min-width: 480px) {
  .modal {
    width: 450px;
    height: 609px;
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    min-height: 581px;
  }
}

.modal__close-btn {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__close-btn:hover, .modal__close-btn:focus {
  fill: var(--accent);
}

.modal__text {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--main-text-color);
  margin-bottom: 12px;
}

.form-list__label {
  width: 100%;
  display: flex;
  flex-direction: column;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--secont-text-color);
  margin-top: 10px;
}

.form-list__label:first-child {
  margin-top: 0px;
}

.form-list__input-wrap {
  position: relative;
  margin-top: 4px;
}

.form-list__item {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  width: 100%;
  height: 40px;
  padding-left: 42px;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-list__item:focus {
  border-color: var(--accent);
}

.form-list__item:focus + .focus {
  fill: var(--accent);
}

.form-list__item::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  outline: none;
}

.form-list__icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
}

.form-list__icon_focus {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-list__textarea {
  margin-top: 4px;
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-list__textarea:focus {
  border-color: var(--accent);
}

.form-list__checkbox {
  margin-top: 20px;
}

.form-list__check:checked + .form-list__check-text .form-list__check-text_valid {
  background-color: var(--accent);
  border: none;
}

.form-list__check-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: white;
  color: var(--fourth-text-color);
  display: flex;
  align-items: center;
  position: relative;
}

.form-list__check-text > span {
  width: 16px;
  height: 15px;
  border: 2px solid #000000;
  border-radius: 2px;
  margin-right: 9px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-list__check-text > p {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
  margin-right: 4px;
}

.form-list__check-text > a {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  text-decoration: none;
}

@media screen and (min-width: 1200px) {
  .form-list__check-text > a {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
  }
}

.form-list__check-icon {
  fill: white;
}

.form-list__submit-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  display: flex;
  align-items: center;
  text-align: center;
  background-color: var(--accent);
  color: var(--white-text-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  padding: 4px 25px;
  margin: 30px auto 0px auto;
}

@media screen and (min-width: 480px) {
  .form-list__submit-btn {
    padding: 10px 55px;
    margin: 30px auto 0px auto;
  }
}

@media screen and (min-width: 768px) {
  .form-list__submit-btn {
    padding: 10px 55px;
    margin: 30px auto 0px auto;
  }
}

@media screen and (min-width: 1200px) {
  .form-list__submit-btn {
    padding: 10px 55px;
    margin: 30px auto 0px auto;
  }
}

.form-list__text_change {
  color: var(--accent);
  text-decoration: underline;
  background-color: transparent;
}

.portfolio {
  padding: 60px 0px 60px 0px;
}

@media screen and (min-width: 1200px) {
  .portfolio {
    padding: 94px 0px 94px 0px;
  }
}

.portfolio a {
  text-decoration: none;
}

.menu-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .menu-list {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .menu-list {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
  }
}

.menu-list__item {
  margin-right: 8px;
  margin-bottom: 15px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-list__item:hover, .menu-list__item:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

@media screen and (min-width: 768px) {
  .menu-list__item {
    margin-bottom: 0px;
  }
  .menu-list__item:last-child {
    margin-right: 0;
  }
}

@media screen and (min-width: 1200px) {
  .menu-list__item {
    margin-bottom: 0px;
  }
  .menu-list__item:last-child {
    margin-right: 0px;
  }
}

.menu-list__button {
  display: inline-block;
  margin: 0 auto;
  padding: 6px 22px;
  border-radius: 4px;
  border: none;
  color: var(--main-text-color);
  background-color: var(--background-section-command-and-button-portfolio);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-list__button:hover, .menu-list__button:focus {
  display: inline-block;
  margin: 0 auto;
  padding: 6px 22px;
  border-radius: 4px;
  border: none;
  color: var(--white-text-color);
  background-color: var(--accent);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  font-family: inherit;
}

@media screen and (min-width: 768px) {
  .portfolio-list {
    display: flex;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.portfolio-list__item {
  margin-bottom: 30px;
  width: 100%;
  background-color: var(--white-text-color);
  border: 1px solid #eeeeee;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list__item img {
  width: 100%;
}

.portfolio-list__item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

@media screen and (min-width: 480px) {
  .portfolio-list__item {
    width: 450px;
  }
  .portfolio-list__item img {
    width: 450px;
  }
}

@media screen and (min-width: 768px) {
  .portfolio-list__item {
    width: 354px;
    margin-right: 30px;
  }
  .portfolio-list__item img {
    width: 354px;
  }
  .portfolio-list__item:nth-child(even) {
    margin-right: 0px;
  }
  .portfolio-list__item:last-child {
    margin-bottom: 0px;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio-list__item {
    width: 370px;
    margin-right: 0px;
  }
  .portfolio-list__item img {
    width: 370px;
  }
  .portfolio-list__item:nth-child(n + 7) {
    margin-bottom: 0;
  }
}

.overlay {
  position: relative;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  overflow: auto;
}

.overlay:hover .overlay__item {
  transform: translatey(0);
}

.overlay__item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translatey(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.overlay__item > .overlay__portfolio {
  padding: 63px 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: var(--white-text-color);
}

.portfolio-adout {
  padding: 20px 24px;
}

.portfolio-adout__title {
  margin-bottom: 4px;
  color: var(--main-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio-adout__text {
  color: var(--secont-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}
/*# sourceMappingURL=main.css.map */