.hero {
  max-width: 1600px;
  min-height: 600px;
  margin: 0 auto;

  background-color: var(--background-main-section-studio-and-footer);
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/bg-img.jpg);
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  &__title {
    color: var(--white-text-color);
    @include font(900, 44px, 1.36, 0.06em);
    text-transform: uppercase;

    max-width: 696px;
    padding-bottom: 30px;
    margin: 0 auto;
  }
  &__btn {
    display: inline-block;
    border-radius: 4px;
    min-width: 200px;
    padding: 10px 32px;
    border: none;
    color: var(--white-text-color);
    background-color: var(--accent);

    font-family: inherit;
    @include font(700, 16px, 1.87, 0.06em);
    text-align: center;
  }
}
